* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  background-color: steelblue;
}
  
h1, h2 {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: underline;
}

form {
  margin: auto;
  padding: 20px;
  width: 500px;
  border-radius: 10px;
  background-color: silver;
  box-shadow: -5px 5px 10px black;
}

/* formulario estilos */

label {
  display: block;
  text-align: center;
}

input {
  display: block;
  margin: auto;
  width: 300px;
  padding: 5px 10px;
  border-radius: 30px;
}

label:not(label:first-child) {
  margin-top: 20px;
}

.btn-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  margin: auto;
  margin-top: 20px;
  background-color: rgb(180, 124, 233);
  color: black;
  border-radius: 10px;
  text-decoration: none;
}
  
.btn-form:hover {
  background-color: purple;
  color: white;
}

.btn-back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  margin: auto;
  margin-top: 40px;
  padding: 20px;
  background-color: purple;
  color: white;
  border-radius: 20px;
  text-decoration: none;
}
  
.btn-back:hover {
  background-color: rgb(180, 124, 233);
  color: black;
}