* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: steelblue;
}

h1, h2 {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: underline;
}

#explorer-container {
  margin: auto;
  padding: 20px;
  width: 60%;
  border-radius: 10px;
  background-color: silver;
  box-shadow: -5px 5px 10px black;
}

#explorer-container p {
  text-align: center;
}

#fupload {
  margin-top: 20px;
  padding: 10px 0px;
  border: 5px double black;
}

.btn-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  margin: auto;
  margin-top: 20px;
  background-color: rgb(180, 124, 233);
  color: black;
  border-radius: 10px;
  text-decoration: none;
}

.btn-form:hover {
  background-color: purple;
  color: white;
}

h3 {
  text-align: center;
}

input[type="file"] {
  display: block;
  margin: 20px auto;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}